.CardContainer {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 800px;
  justify-content: center;
}

.CardImage {
  width: 90%;
  flex-basis: 90%;
  align-self: center;
}

@media (min-width: 768px){
  .CardImage {
    width: 45%;
    flex-basis: 45%;
    align-self: center;
    margin-right: 4rem;
  }
}