.Card {
    display: block;
    width: 19%;
    flex-basis: 19%;
    flex-grow: 0;
    flex-shrink: 1;
    text-align: center;
    margin-right: 1rem;
    padding: 1rem;
}

.Card:nth-child(4n) {
    margin-right: 0;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    font-weight: normal;
    color: black;
}

@media (max-width: 768px) {
    .Card {
        width: 23%;
        flex-basis: 23%;
    }

    .Card:nth-child(3n) {
        margin-right: 0;
    }

    .Card:nth-child(4n) {
        margin-right: 1rem;
    }
}

@media (max-width: 480px) {
    .Card {
        width: 38%;
        flex-basis: 38%;
    }

    .Card:nth-child(3n) {
        margin-right: 1rem;
    }

    .Card:nth-child(2n) {
        margin-right: 0;
    }
}

@media (max-width: 380px) {
    .Card {
        width: 100%;
        flex-basis: 100%;
        margin-right: 0;
    }
    
    .Card:nth-child(3n) {
        margin-right: 0;
    }
}